.page-login-wrap {
    background-color: #ffff;
    width: 100vw;
    .active-btn {
        border-radius: 20px;
        background: #ffff;
        color: #1677FF;
        width: 120px;
    }
    .login-form-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .anther-login-icon-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 40px;
            width: 40px;
            border: 1px solid #D4D8DD;
            border-radius: 50%
        }
    }
    .tooltip-wrap {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
    }
}
.regist-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: #ebebeb;
    .register-form-container {
        max-width: 500px;
        margin: auto;
        background: #ffff;
        padding: 20px;
    }
}

